<!DOCTYPE html>
<html>
<head>
<title>TfLJamCam detection demo</title>
</head>
<body>

<h1>Level of objects in London</h1>
<!--<video width="1600" height="900" autoplay loop autobuffer muted playsinline>-->
    <!--<source src={{ url_for('static', filename="final_n_all.mp4") }} type="video/mp4">-->
    <!--Your browser does not support the video tag.-->
    <!--<source src="videos/final_n_all.mp4" type="video/mp4">-->
  <!--</video>-->

<h1>Count of objects in London</h1>
<video width="1600" height="900" playsinline controls>
    <!--<source src={{ url_for('static', filename="final_r_all.mp4") }} type="video/mp4">-->
    <!--Your browser does not support the video tag.-->
     <source src="static/final_n_all.mp4" type="video/mp4">
</video>
<br>
<br>

<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7135913&style=0024&nbdigits=5&type=ip&initCount=0" title="url and counting visits" Alt="url and counting visits"   border="0" >
</a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title=""
                                        target="_blank" style="font-family: ;
                                        font-size: px; color: #; text-decoration:  ;"><>                                        </>
                                        </a>
</body>
</html>